src/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
src/**/*.png filter=lfs diff=lfs merge=lfs -text
src/**/*.ttf filter=lfs diff=lfs merge=lfs -text
src/**/*.wav filter=lfs diff=lfs merge=lfs -text
